<form action="/createtodo" method="POST">
    <h2>Create todo</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>

<form action="/movie" method="POST">
    <h2>Create movie</h2>

    <div class="input-field">
        <input type="text" name="movieName">
        <label>movie name</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>

<form action="/director" method="POST">
    <h2>Create director</h2>

    <div class="input-field">
        <input type="text" name="directorName">
        <label>director name</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>